@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif; }

/* Нижнее подчеркивание в названии этого файла нужно, чтобы код находящийся здесь не компилировался */
header {
  position: relative; }

nav {
  height: 53px;
  /* ширина будет подстраиваться автоматически */
  background: #212121; }

.hamburger {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  /* делаем это потому что бутстрап задает по стандарту небольшой маржин, см. в панеле разработчика */
  list-style-type: none;
  /* меняет у элементов списка диск на пустое место */ }
  .menu_item:not(:last-child) {
    border-right: 2px dotted black; }
  .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF; }
  .menu_item {
    padding-right: 32px; }

.subheader {
  position: absolute;
  /* Это значение мы задали, чтобы картинка зашла за хедер, создавая тем самым бэк + родителю хэдэр иы задали значение релатив */
  width: 100%;
  /* когда мы сделали предыдущий шаг, контент в этом хэдере сплющился, поэтому, мы прописали эту строку, 100 процент от ширины родителя */
  background-color: rgba(0, 0, 0, 0.6);
  /* будь аккуратен, в авокаде и фигме прозрачность настраивается с помощью опасити, это сделает прозрачным все элементы данного блока */
  height: 87px; }

.subheader_logo {
  display: block;
  /* чтобы применить маржин */
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 6px; }

.subheader_oftext {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5; }

.subheader_call {
  text-align: right;
  margin-top: 22px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF; }

.subheader_phone {
  position: absolute;
  right: 13.5px;
  bottom: 3px;
  text-align: right;
  margin-top: 12px;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF; }

.subheader_btn {
  margin-top: 20px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
  .subheader_btn:hover {
    background-image: none;
    background-color: #1eacc7; }

.promo {
  padding: 150px 0 135px 0;
  min-height: 799px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat; }

h1 {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px; }

.promo_subheader {
  margin: 0;
  margin-top: 22px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px; }

.promo_descr {
  margin-top: 23px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF; }

.promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
  .promo_btn:hover {
    background-image: none;
    background-color: #1eacc7; }

.reasons {
  padding: 71px 0 65px 0; }

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; }

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #222222;
  text-align: center; }

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px; }

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%; }

.reasons_descr {
  width: 343px; }

.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400; }

.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px; }

.mobile {
  min-height: 854px;
  padding: 48px 0 80px 0;
  background: url(../img/mobile_bg.jpg) center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url(../img/img1.png) center center/cover no-repeat; }
    .mobile_item_2 {
      background: url(../img/img2.png) center center/cover no-repeat; }
    .mobile_item_3 {
      background: url(../img/img3.png) center center/cover no-repeat; }
    .mobile_item_4 {
      background: url(../img/img4.png) center center/cover no-repeat; }
    .mobile_item_5 {
      background: url(../img/img5.png) center center/cover no-repeat; }
    .mobile_item_6 {
      background: url(../img/img6.png) center center/cover no-repeat; }
    .mobile_item_text {
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center; }
    .mobile_item_plus {
      position: absolute;
      width: 29px;
      height: 29px;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      cursor: pointer;
      background: #000000;
      border-radius: 100%; }
      .mobile_item_plus img {
        display: block;
        margin: 0 auto; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-53%, -50%);
                transform: translate(-53%, -50%);
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
      .mobile_item_plus:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-70%, -50%);
                transform: translate(-70%, -50%);
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: #fff; }

.car {
  height: 898px;
  background: url(../img/Group2.png) center center/cover no-repeat;
  padding-top: 57px; }
  .car .label {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #070716;
    height: 24px;
    width: 112px;
    background-color: #ffffff; }
  .car .title {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .car .subtitle {
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF; }
  .car_img {
    display: block;
    margin: 0 auto;
    margin-top: 54px; }
  .car_down_text {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #222222;
    text-align: center; }

.require {
  padding: 66px 0 84px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0; }
  .require_dtext {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1CA8C3; }
  .require_title {
    font-weight: 400;
    font-size: 22px;
    color: #1CA8C3; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      display: inline-block;
      font-weight: 300;
      font-size: 17px;
      color: #222222;
      margin-bottom: 10px; }
      .require_list li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 21px;
        height: 20px;
        -webkit-transform: translate(-10px, -2px);
                transform: translate(-10px, -2px);
        background: url(../icon/check_blue6.png) center center/cover no-repeat; }
  .require_title_3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #FF5656; }
  .require_list_3 li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    -webkit-transform: translate(-10px, -2px);
            transform: translate(-10px, -2px);
    background: url(../icon/check_red4.png) center center/cover no-repeat; }

.world {
  height: 720px;
  background: url(../img/world_bg.png) center center/cover no-repeat;
  padding-top: 48px; }
  .world .label {
    padding-top: 8px;
    width: 79px;
    height: 27px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #070716; }
  .world .title {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 38px;
    line-height: 48px;
    margin-top: 26px; }
  .world .subtitle {
    margin-top: 2px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 21px; }
  .world_down_text {
    text-align: center;
    padding-top: 456px;
    font-weight: 400;
    font-size: 15px;
    line-height: 68px;
    color: #1FBAD6;
    text-transform: uppercase; }

.divider {
  display: block;
  width: 301px;
  height: 7px;
  background-color: #1FBAD6;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 12.5px; }

footer {
  position: relative;
  height: 122px; }
  footer .head_titles {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: #070716;
    margin-top: 19px; }
    footer .head_titles a {
      color: #070716; }
  footer .head_subtitles {
    width: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 13px; }
    footer .head_subtitles a {
      color: #999999; }
  footer .lang {
    margin-top: 13px;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 68px;
    text-transform: uppercase; }
    footer .lang a {
      color: #1FBAD6; }
  footer .social {
    position: absolute;
    left: 36px;
    top: 18px; }
    footer .social img {
      margin-right: 5px; }

.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo h1 {
    font-size: 50px; }

  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reasons_descr {
    width: 300px; }

  .mobile_item {
    width: 286px; } }
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px; }
  .menu_link {
    font-size: 10px; }

  .subheader_logo img {
    width: 100%; }
  .subheader_oftext {
    font-size: 11px; }
  .subheader_phone {
    top: 25px; }
  .subheader_btn {
    margin-top: 25px;
    height: 40px;
    width: 100%; }

  .promo h1 {
    font-size: 40px; }
  .promo_subheader {
    font-size: 30px; }

  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reasons_descr {
    width: 300px;
    margin-top: 20px; }

  .mobile {
    padding-bottom: 20px; }
    .mobile_item {
      width: 222px;
      height: 263px; }
      .mobile_item_1 .mobile_item_text {
        -webkit-transform: translateY(-13px);
                transform: translateY(-13px); }
      .mobile_item_6 .mobile_item_text {
        -webkit-transform: translateY(-13px);
                transform: translateY(-13px); }
      .mobile_item_text {
        font-size: 16px; }

  .car img {
    width: 100%; }

  .require_list {
    padding-left: 24px; }
    .require_list li::before {
      position: absolute;
      -webkit-transform: translate(-34px, 2px);
              transform: translate(-34px, 2px); } }
@media (max-width: 767px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 38px; }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 1; }
    .menu_active {
      left: 0; }
    .menu_item {
      padding-right: 0;
      margin: 10px 0; }
      .menu_item:not(:last-child) {
        border-right: none; }
    .menu_link {
      font-size: 20px; }

  .car img {
    width: 100%; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 3px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-last-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-last-child(2) {
        display: none; }
      .hamburger_active span:nth-last-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .subheader {
    margin-top: 32px; }
    .subheader_phone {
      position: static;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center; }
    .subheader_btn {
      display: block;
      width: 180px;
      height: 30px;
      margin: 0 auto;
      background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
      background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
      border: 3px solid rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      font-weight: 400;
      font-size: 13px;
      color: #FFFFFF; }
    .subheader_logo {
      margin-top: 30px;
      max-width: 90%; }

  .oftext_hider {
    display: none; }

  .promo h1 {
    line-height: 45px; }
  .promo_subheader {
    font-size: 30px; } }
@media (max-width: 575px) {
  .subheader {
    height: 60px; }
    .subheader_phone {
      position: static;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
      margin-top: 8px; }
    .subheader_btn {
      font-weight: 400;
      font-size: 10px;
      margin-top: 2px;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 110px;
      height: 22px;
      background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
      background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
      border-radius: 4px; }
    .subheader_logo {
      margin-top: 16px;
      max-width: 90%; }

  .promo {
    min-height: 400px;
    padding: 150px 0 35px 0; }
    .promo_descr {
      display: none; }
    .promo h1 {
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
      color: #FFFFFF; }
    .promo_subheader {
      font-weight: 900;
      font-size: 20px;
      line-height: 23.44px;
      color: #FFFFFF; }
    .promo_btn {
      margin-top: 70px;
      width: 210px;
      height: 50px; }

  nav {
    height: 32px; }

  .mobile_item {
    width: 100%; }
  .mobile_text {
    font-size: 20px; }
  .mobile .subtitle {
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px; }

  .menu {
    width: 80%; }
    .menu_item:nth-child(3) {
      text-align: center; }

  .reasons {
    padding: 22px 0 36px 0; }
    .reasons_block {
      margin-top: 26px; }
    .reasons_round {
      margin-right: 0;
      width: 100px;
      height: 100px; }
    .reasons_descr {
      width: 100%;
      margin-top: 27px; }
    .reasons_text {
      margin-top: 10px; }

  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px; }

  .car {
    height: 507px; }
    .car .title {
      font-size: 20px; }
    .car .subtitle {
      font-size: 15px;
      margin-top: 13px; }

  .require {
    padding: 34px 0 14px 0; }
    .require_title {
      font-size: 20px;
      text-align: center; }
    .require_list {
      margin-top: 16px; }
    .require_block {
      margin: 14px 0; }

  .world .title {
    font-size: 30px; } }

/*# sourceMappingURL=style.css.map */